// Colors
$primary-color: #C62828;
$background-color-body: white;
$background-color-hero: #212121;
$highlight-color: #FFCDD2;

.pc {
  color: $primary-color !important;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Raleway:300|Source+Sans+Pro:300');

.hf {
  font-family: Raleway, sans-serif;
  color: #a63324;
}

.bf {
  font-family: Source Sans Pro, sans-serif;
}
