@import '../app/theme';

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color-body;
}

.main-body-intro-message {
  display: table-cell;
  margin-right: auto;
  margin-left: auto;
  margin-top: -2%;
  text-align: center;
  font-size: 1.5em;
  height: 80vh;
  font-family: Code-Font, sans-serif;
  color: $background-color-hero;
}